<div class="page">
  <table style="margin-top: 2em;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Ultimo Acceso</th>
        <th></th>
    <tbody>
      <% @user.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.first_name %></td>
        <td><%= u.phone %></td>
        <td><%= u.email %></td>
        <td><%= u.last_logged || "Nunca" %></td>
        <td>
          <%= link_to "Eliminar", u, method: :delete %> -
          <%= link_to "Resetear Contraseña", reset_pass_user_path(u) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Limpiar Usuarios", clean_users_path %>
</div>
