<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field work-item-fields">
    <% WorkItem.all.each do |work_item| %>
      <div>
        <input value="<%= work_item.id %>" <%= 'checked' if @appointment.work_items.include?(work_item) %> id="work_item_<%= work_item.id %>" name="work_item_id[]" type="checkbox">
        <label for="work_item_<%= work_item.id %>"> <%= work_item.name %></label>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
  </div>
<% end %>
