<div class="page">
  <p id="notice"><%= notice %></p>

  <h1>Turnos</h1>

  <%= month_calendar events: @appointments do |date, appointments| %>
    <div class="current-date">
      <%= date %>
    </div>

    <% appointments.each do |appointment| %>
      <div>
        <%= link_to appointment.user.full_name, appointment %>
      </div>
    <% end %>
  <% end %>

  <br>

  <%= link_to 'New Appointment', new_appointment_path %>
</div>
